# Enable rewrite engine
RewriteEngine On

# Map /ruta/ to /ruta/index.html
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+/)$ $1index.html [L]

# Fallback to index.html for SPA routes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
